Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "package.json": ["sort-package-json"]
}

chore(deps): update @himenon/path-oriented-data-structure
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: eol
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
Due: prettier --write, eslint --fix

fix: split eol
  src/CodeGenerator/factory/utils.ts
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: support dual package
  package.json
  scripts/build.ts
  scripts/tools/copyPackageSet.ts
  scripts/tools/dualPackageSupport.ts
  src/Validator/v3/index.ts
  src/api.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

fix: webpack load esm
  scripts/build.ts
  scripts/tools/dualPackageSupport.ts
Due: prettier --write, eslint --fix

feat: support dual package (#27)
  package.json
  scripts/build.ts
  scripts/tools/copyPackageSet.ts
  scripts/tools/dualPackageSupport.ts
  src/Validator/v3/index.ts
  src/api.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

chore(deps): update library version
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update library version (#28)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: package json path
  src/Converter/Comment.ts
Due: prettier --write, eslint --fix

feat: changed the interface of the code generator
  src/CodeGenerator/index.ts
  src/CodeGenerator/utils.ts
  src/Converter/CodeGenerator.ts
  src/Converter/InferredType.ts
  src/Converter/index.ts
  src/Converter/types/index.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  src/DefaultCodeTemplate/ApiClientClass/Method.ts
  src/DefaultCodeTemplate/ApiClientClass/index.ts
  src/DefaultCodeTemplate/index.ts
  src/Validator/index.ts
  src/index.ts
  src/types/OpenApi.ts
  src/types/extractSchema.ts
  src/types/index.ts
Due: prettier --write, eslint --fix

fix: test types
  scripts/testCodeGen.ts
  src/index.ts
  src/types/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add code template
  scripts/testCodeGen.ts
  src/DefaultCodeTemplate/index.ts
  src/index.ts
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: Add Code template feature (#30)
  scripts/testCodeGen.ts
  src/CodeGenerator/index.ts
  src/CodeGenerator/utils.ts
  src/Converter/CodeGenerator.ts
  src/Converter/InferredType.ts
  src/Converter/index.ts
  src/Converter/types/index.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  src/DefaultCodeTemplate/ApiClientClass/Method.ts
  src/DefaultCodeTemplate/ApiClientClass/index.ts
  src/DefaultCodeTemplate/index.ts
  src/Validator/index.ts
  src/index.ts
  src/types/OpenApi.ts
  src/types/extractSchema.ts
  src/types/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: classify code generator
  README.md
  docs/ja/README-ja.md
  scripts/testCodeGen.ts
  scripts/validate.ts
  src/CodeGenerator/index.ts
  src/Converter/index.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  src/DefaultCodeTemplate/ApiClientClass/Method.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/DefaultCodeTemplate/ApiClientClass/index.ts
  src/DefaultCodeTemplate/index.ts
  src/index.ts
  src/types/index.ts
Due: prettier --write, eslint --fix

fix: allow empty paths
  src/Converter/CodeGenerator.ts
  src/Converter/index.ts
  src/Converter/store/Operation.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix

test: update snapshot
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix

test: add validation
  scripts/testCodeGen.ts
Due: prettier --write, eslint --fix

test: update dependency cruiser config
  .dependency-cruiser.js
Due: prettier --write

fix: dependency tree
  src/Converter/ConverterContext.ts
  src/Converter/Name.ts
  src/DefaultCodeTemplate/ApiClientArgument.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  src/DefaultCodeTemplate/ApiClientClass/Class.ts
  src/DefaultCodeTemplate/ApiClientClass/Constructor.ts
  src/DefaultCodeTemplate/ApiClientClass/Method.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/CallRequest.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/HeaderParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/PathParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/QueryParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/index.ts
  src/DefaultCodeTemplate/ApiClientClass/index.ts
  src/DefaultCodeTemplate/index.ts
  src/DefaultCodeTemplate/utils.ts
  src/factory.ts
  src/utils.ts
Due: prettier --write, eslint --fix

refactor: code template
  scripts/testCodeGen.ts
  src/api.ts
  src/code-templates/api-client/ApiClientArgument.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Class.ts
  src/code-templates/api-client/ApiClientClass/Constructor.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/HeaderParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/QueryParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/api-client/ApiClientClass/index.ts
  src/code-templates/api-client/index.ts
  src/code-templates/api-client/utils.ts
  src/index.ts
  src/templates.ts
Due: prettier --write, eslint --fix

refactor: update api
  .dependency-cruiser.js
  src/api.ts
  src/code-templates/api-client/ApiClientArgument.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Class.ts
  src/code-templates/api-client/ApiClientClass/Constructor.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/HeaderParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/QueryParameter.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/api-client/ApiClientClass/index.ts
  src/code-templates/api-client/index.ts
  src/code-templates/api-client/utils.ts
  src/factory.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor: file system
  src/api.ts
  src/index.ts
  src/internal/Converter/components/Reference.ts
  src/internal/FileSystem/index.ts
Due: prettier --write, eslint --fix

refactor: rename files
  src/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/index.ts
Due: prettier --write, eslint --fix

test: update test code
  scripts/testCodeGen.ts
Due: prettier --write, eslint --fix

fix: cherry-pick
  scripts/build.ts
Due: prettier --write, eslint --fix

fix: cherry-pick
  scripts/build.ts
  scripts/tools/cherry-pick.ts
Due: prettier --write, eslint --fix

fix: remove tiny-glob
  scripts/tools/cherry-pick.ts
Due: prettier --write, eslint --fix
