Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

refactor: example
  examples/pure-js/gen.js
  examples/pure-js/output/client.ts
  examples/pure-js/spec/openapi.yml
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  .gitignore
  examples/pure-js/.gitignore
  examples/pure-js/output/client.ts
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  README.md
  docs/ja/README-ja.md
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/generator-template.ts
  examples/readme-sample/split-typedef-and-api-client.ts
  examples/readme-sample/typedef-and-api-client.ts
Due: prettier --write, eslint --fix

chore: update
  scripts/writer/Class.ts
  scripts/writer/CurryingFunctional.ts
  scripts/writer/Functional.ts
Due: prettier --write, eslint --fix

chore: update
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  package.json
Due: prettier --write, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: update
  .github/workflows/release.yml
Due: prettier --write

chore: change the Version to 1.0.0 (#120)
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

fix: import meta
  src/meta.ts
Due: prettier --write, eslint --fix

style: format
  biome.json
  package.json
Due: prettier --write, sort-package-json

style: format
  .eslintignore
  .eslintrc.cjs
  .huskyrc
  .prettierignore
  .prettierrc.cjs
Due: none

style: format
  pnpm-lock.yaml
Due: prettier --write

chore: update
  README.md
  docs/ja/README-ja.md
  examples/apis/codegen.ts
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/pure-js/gen.js
  examples/pure-js/package.json
  examples/pure-js/pnpm-lock.yaml
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/text-base-code-template.ts
  examples/readme-sample/use-extract-schema-params.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  examples/apis/client.ts
  examples/apis/package.json
  examples/apis/tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  package.json
  tsconfig.json
Due: prettier --write, sort-package-json

docs: update docs & examples (#123)
  README.md
  docs/ja/README-ja.md
  examples/apis/client.ts
  examples/apis/codegen.ts
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/apis/tsconfig.json
  examples/pure-js/gen.js
  examples/pure-js/package.json
  examples/pure-js/pnpm-lock.yaml
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/text-base-code-template.ts
  examples/readme-sample/use-extract-schema-params.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update deps (#124)
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update snapshot
  test/__tests__/currying-functional/coudflare-test.ts
Due: prettier --write, eslint --fix

test: update
  src/internal/OpenApiTools/ConverterContext.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

fix: regex
  src/internal/OpenApiTools/ConverterContext.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

fix: regex
  src/utils.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
