Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

feat: Update anyOf treatment
  src/internal/OpenApiTools/toTypeNode.ts
Due: prettier --write, eslint --fix

test: update
  scripts/testCodeGen.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/ResolveReference/index.ts
  test/__tests__/__snapshots__/multi-type.test.domain.ts.snap
  test/__tests__/multi-type.test.domain.ts
  test/api.test.domain/index.yml
  test/multi-type.test.domain/index.yml
Due: prettier --write, eslint --fix

chore: remove unused import
  src/internal/OpenApiTools/toTypeNode.ts
Due: prettier --write, eslint --fix

feat: Make the behavior of anyOf equivalent to oneOf (#70)
  scripts/testCodeGen.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/ResolveReference/index.ts
  test/__tests__/__snapshots__/multi-type.test.domain.ts.snap
  test/__tests__/multi-type.test.domain.ts
  test/api.test.domain/index.yml
  test/multi-type.test.domain/index.yml
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: Native ESmodule
  package.json
  scripts/build.ts
  scripts/clean.ts
  scripts/tools/copyPackageSet.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

fix: rootDir
  src/index.ts
  src/internal/OpenApiTools/Comment.ts
Due: prettier --write, eslint --fix

chore: add additinoal properties test
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/infer.domain/index.yml
Due: prettier --write

feat: Updated behaviour of AdditionalProperties when owning OptionalPropery
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/infer.domain/index.yml
Due: prettier --write, eslint --fix

chore: update
  src/internal/OpenApiTools/toTypeNode.ts
Due: prettier --write, eslint --fix

chore: update error message
  src/internal/OpenApiTools/toTypeNode.ts
Due: prettier --write, eslint --fix

chore: update
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
Due: prettier --write, eslint --fix

feat: Updated behaviour of AdditionalProperties when owning OptionalPropery (#72)
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/infer.domain/index.yml
Due: prettier --write, eslint --fix

feat(pnpm): update package manager
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .npmrc
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

fix: yarn -> pnpm
  .github/workflows/versionUp.yml
  README.md
  package.json
  scripts/build.ts
  scripts/watch.ts
Due: prettier --write, eslint --fix, sort-package-json

ci: update
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

fix: package.json
  package.json
Due: prettier --write, sort-package-json

fix: run-s -> run-p
  package.json
Due: prettier --write, sort-package-json

fix: simple-git-hooks
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: engines
  package.json
Due: prettier --write, sort-package-json

chore(pnpm): update package manager (#73)
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  .npmrc
  README.md
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/watch.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

fix: engines field
  README.md
  package.json
Due: prettier --write, sort-package-json

fix: engines fields
  README.md
Due: prettier --write

chore: update
  .eslintrc.js
  docs/ja/README-ja.md
  pnpm-lock.yaml
  src/internal/OpenApiTools/ConverterContext.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/utils.ts
  test/unknown.schema.domain/index.yml
Due: prettier --write, eslint --fix

fix: engines fields (#74)
  .eslintrc.js
  README.md
  docs/ja/README-ja.md
  package.json
  pnpm-lock.yaml
  src/internal/OpenApiTools/ConverterContext.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/utils.ts
  test/unknown.schema.domain/index.yml
Due: prettier --write, eslint --fix, sort-package-json

chore: add title in comment
  src/internal/OpenApiTools/components/Schema.ts
Due: prettier --write, eslint --fix

test: update snapshot
  package.json
  test/__tests__/__snapshots__/argo-rollout-test.ts.snap
Due: prettier --write, sort-package-json

feat: add title in comment (#75)
  package.json
  src/internal/OpenApiTools/components/Schema.ts
  test/__tests__/__snapshots__/argo-rollout-test.ts.snap
Due: prettier --write, eslint --fix, sort-package-json

chore: add typescript@beta
  package.json
Due: prettier --write, sort-package-json

chore: update
  yarn.lock
Due: none

feat: support enum boolean union types
  src/internal/OpenApiTools/Guard.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/TsGenerator/factory/TypeNode.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

feat: support enum boolean union types (#76)
  src/internal/OpenApiTools/Guard.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/TsGenerator/factory/TypeNode.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

perf(test): using swc
  jest.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

perf(test): using swc (#77)
  jest.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
