Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "package.json": ["sort-package-json"]
}

feat: JSONをinterfaceに変換する
  README.md
  jest.config.js
  package.json
  src/__tests__/generateInterface-test.ts
  src/__tests__/index.test.ts
  src/__tests__/interfaceMembers-test.ts
  src/convertAstToTypeScriptCode.ts
  src/generateInterface.ts
  src/index.ts
  src/transform.ts
  src/traverse/index.ts
  src/traverse/interfaceAppendMembers.ts
  src/traverse/interfaceName.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

feat: optional対応
  src/__tests__/generateInterface-test.ts
  src/__tests__/interfaceMembers-test.ts
  src/generateInterface.ts
  src/traverse/interfaceAppendMembers.ts
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: addExport
  src/__tests__/generateInterface-test.ts
  src/__tests__/interfaceMembers-test.ts
  src/generateInterface.ts
  src/traverse/addExport.ts
  src/traverse/index.ts
  src/traverse/interfaceAppendMembers.ts
Due: prettier --write, eslint --fix

feat: add oas3.0.1 types
  package.json
  src/__tests__/generateClass.ts
  src/definitions/OpenApiSchema.ts
  src/definitions/utils.ts
  src/generateClass.ts
  src/index.ts
  src/traverse/addClassMethod.ts
Due: prettier --write, eslint --fix, sort-package-json

feat: update open api 3.1.0 types
  src/definitions/OpenApiSchema.ts
  src/definitions/utils.ts
Due: prettier --write, eslint --fix

feat: update open api 3.1.0 types
  src/definitions/OpenApiSchema.ts
Due: prettier --write, eslint --fix

feat: factoryを作成
  .eslintrc.js
  README.md
  package.json
  src/TypeScriptGenerator/__tests__/generateClass.ts
  src/TypeScriptGenerator/__tests__/generateInterface-test.ts
  src/TypeScriptGenerator/__tests__/interfaceMembers-test.ts
  src/TypeScriptGenerator/convertAstToTypeScriptCode.ts
  src/TypeScriptGenerator/factory/Interface.ts
  src/TypeScriptGenerator/factory/Namespace.ts
  src/TypeScriptGenerator/factory/Property.ts
  src/TypeScriptGenerator/factory/TypeNode.ts
  src/TypeScriptGenerator/factory/index.ts
  src/TypeScriptGenerator/generate.ts
  src/TypeScriptGenerator/generateClass.ts
  src/TypeScriptGenerator/generateInterface.ts
  src/TypeScriptGenerator/transform.ts
  src/TypeScriptGenerator/traverse/addClassMethod.ts
  src/TypeScriptGenerator/traverse/addExport.ts
  src/TypeScriptGenerator/traverse/index.ts
  src/TypeScriptGenerator/traverse/interfaceAppendMembers.ts
  src/TypeScriptGenerator/traverse/interfaceName.ts
  src/codegen/OpenApiSchema.ts
  src/codegen/components/namespace.ts
  src/codegen/index.ts
  src/codegen/reference/resolve.ts
  src/definitions/utils.ts
  src/index.ts
  src/traverse/index.ts
Due: prettier --write, eslint --fix, sort-package-json

feat: 整理
  src/TypeScriptCodeGenerator/__tests__/generateClass.ts
  src/TypeScriptCodeGenerator/__tests__/generateInterface-test.ts
  src/TypeScriptCodeGenerator/__tests__/interfaceMembers-test.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  src/TypeScriptCodeGenerator/index.ts
  src/TypeScriptCodeGenerator/traverse.ts
  src/TypeScriptGenerator/convertAstToTypeScriptCode.ts
  src/TypeScriptGenerator/factory/index.ts
  src/TypeScriptGenerator/generate.ts
  src/TypeScriptGenerator/generateClass.ts
  src/TypeScriptGenerator/generateInterface.ts
  src/TypeScriptGenerator/transform.ts
  src/TypeScriptGenerator/traverse/addClassMethod.ts
  src/TypeScriptGenerator/traverse/addExport.ts
  src/TypeScriptGenerator/traverse/index.ts
  src/TypeScriptGenerator/traverse/interfaceAppendMembers.ts
  src/TypeScriptGenerator/traverse/interfaceName.ts
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --fix

refactor: 変数名の整理
  src/OpenApiParser/Schema.ts
  src/OpenApiParser/components/namespace.ts
  src/OpenApiParser/index.ts
  src/OpenApiParser/reference/resolve.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: schemaをTypeNodeに変換する
  package.json
  src/Converter/index.ts
  src/Exception/index.ts
  src/OpenApiParser/Schema.ts
  src/OpenApiParser/index.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  src/Validator/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

feat: parametersに対応
  src/Converter/Guard.ts
  src/Converter/Parameters.ts
  src/Converter/Schemas.ts
  src/Converter/index.ts
  src/Converter/toTypeNode.ts
  src/Exception/index.ts
  src/OpenApiParser/Schema.ts
  src/OpenApiParser/components/namespace.ts
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: commentsがつくように修正
  src/Converter/Parameters.ts
  src/Converter/Responses.ts
  src/Converter/Schemas.ts
  src/Converter/toTypeNode.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/utils.ts
Due: prettier --write, eslint --fix

chore: add comment
  src/Converter/Parameters.ts
  src/Converter/Schemas.ts
Due: prettier --write, eslint --fix

feat: referenceの再帰的解決ができるようになった
  hoge.js
  package.json
  src/Converter/Parameters.ts
  src/Converter/Reference.ts
  src/Converter/Responses.ts
  src/Converter/Schemas.ts
  src/Converter/index.ts
  src/Converter/toTypeNode.ts
  src/Exception/index.ts
  src/OpenApiParser/Schema.ts
  src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

refactor: entryPointとcurrentPointに変数名を変更
  src/Converter/Parameters.ts
  src/Converter/Reference.ts
  src/Converter/Schemas.ts
  src/Converter/index.ts
  src/Converter/toTypeNode.ts
  src/Logger/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: 各Propertyに処理を分離
  hoge.js
  src/Converter/Header.ts
  src/Converter/MediaType.ts
  src/Converter/Parameter.ts
  src/Converter/Parameters.ts
  src/Converter/Response.ts
  src/Converter/Responses.ts
  src/Converter/Schema.ts
  src/Converter/Schemas.ts
  src/Converter/Utils.ts
  src/Converter/index.ts
  src/OpenApiParser/Schema.ts
  src/TypeScriptCodeGenerator/index.ts
Due: prettier --write, eslint --fix

feat: requestBodiesを追加
  src/Converter/Header.ts
  src/Converter/MediaType.ts
  src/Converter/Parameter.ts
  src/Converter/RequestBodies.ts
  src/Converter/RequestBody.ts
  src/Converter/Response.ts
  src/Converter/Schema.ts
  src/Converter/Utils.ts
  src/Converter/index.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/utils.ts
Due: prettier --write, eslint --fix

feat: add securitySchemes
  src/Converter/Headers.ts
  src/Converter/Parameters.ts
  src/Converter/Reference.ts
  src/Converter/RequestBodies.ts
  src/Converter/Schemas.ts
  src/Converter/SecuritySchema.ts
  src/Converter/SecuritySchemas.ts
  src/Converter/index.ts
  src/Converter/toTypeNode.ts
  src/OpenApiParser/Schema.ts
Due: prettier --write, eslint --fix

feat: pathItemsに対応
  src/Converter/Operation.ts
  src/Converter/Parameters.ts
  src/Converter/PathItem.ts
  src/Converter/PathItems.ts
  src/Converter/Response.ts
  src/Converter/Responses.ts
  src/Converter/index.ts
  src/OpenApiParser/Schema.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
Due: prettier --write, eslint --fix

docs: add comment
  src/Converter/index.ts
Due: prettier --write, eslint --fix

feat: コメントを追加
  src/Converter/ExternalDocumentation.ts
  src/Converter/Operation.ts
  src/Converter/PathItem.ts
  src/Converter/Schema.ts
  src/Converter/Server.ts
  src/Converter/Servers.ts
  src/Converter/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: typeGuardを追加
  src/Converter/Guard.ts
  src/Converter/Schema.ts
  src/Converter/Schemas.ts
  src/Converter/types.ts
  src/Exception/index.ts
  src/Logger/index.ts
  src/TypeScriptCodeGenerator/factory/TypeAliasDeclaration.ts
  src/TypeScriptCodeGenerator/factory/UnionTypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
Due: prettier --write, eslint --fix

fix: SingleCommentの場合の改行修正とReferenceの挙動修正
  src/Converter/Reference.ts
  src/Converter/Schema.ts
  src/Converter/Schemas.ts
  src/Converter/toTypeNode.ts
  src/Exception/index.ts
  src/Logger/index.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
  src/TypeScriptCodeGenerator/factory/utils.ts
Due: prettier --write, eslint --fix

feat: enumに対応
  src/Converter/Guard.ts
  src/Converter/toTypeNode.ts
  src/Exception/index.ts
  src/OpenApiParser/Schema.ts
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
Due: prettier --write, eslint --fix

feat: objectのrequiredに対応
  src/Converter/Header.ts
  src/Converter/MediaType.ts
  src/Converter/Parameter.ts
  src/Converter/Schema.ts
  src/Converter/SecuritySchema.ts
  src/Converter/toTypeNode.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
Due: prettier --write, eslint --fix

feat: additionalProperties対応をした
  src/Converter/Guard.ts
  src/Converter/Schema.ts
  src/Converter/toTypeNode.ts
  src/Converter/types.ts
  src/TypeScriptCodeGenerator/factory/IndexSignature.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
Due: prettier --write, eslint --fix

fix: enum対応の漏れを修正
  src/Converter/Schema.ts
  src/TypeScriptCodeGenerator/factory/TypeAliasDeclaration.ts
Due: prettier --write, eslint --fix

fix: 日本語がエスケープされる不具合の修正
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/index.ts
Due: prettier --write, eslint --fix

fix: import name
  src/Converter/Header.ts
  src/Converter/Headers.ts
  src/Converter/MediaType.ts
  src/Converter/Operation.ts
  src/Converter/Parameter.ts
  src/Converter/Parameters.ts
  src/Converter/PathItem.ts
  src/Converter/PathItems.ts
  src/Converter/RequestBodies.ts
  src/Converter/RequestBody.ts
  src/Converter/Response.ts
  src/Converter/Responses.ts
  src/Converter/Schema.ts
  src/Converter/Schemas.ts
  src/Converter/SecuritySchema.ts
  src/Converter/SecuritySchemas.ts
  src/Converter/index.ts
  src/Converter/toTypeNode.ts
  src/TypeScriptCodeGenerator/factory/IndexSignature.ts
  src/TypeScriptCodeGenerator/factory/Interface.ts
  src/TypeScriptCodeGenerator/factory/LiteralTypeNode.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/Property.ts
  src/TypeScriptCodeGenerator/factory/TypeAliasDeclaration.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/UnionTypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  src/TypeScriptCodeGenerator/traverse.ts
Due: prettier --write, eslint --fix

fix: oneOf, allOf対応
  src/Converter/Guard.ts
  src/Converter/Schema.ts
  src/Converter/Schemas.ts
  src/Converter/toTypeNode.ts
  src/Converter/types.ts
  src/TypeScriptCodeGenerator/factory/IntersectionTypeNode.ts
  src/TypeScriptCodeGenerator/factory/TypeNode.ts
  src/TypeScriptCodeGenerator/factory/index.ts
Due: prettier --write, eslint --fix

refactor: ディレクトリ構造を整理
  src/Converter/index.ts
  src/Converter/v3/ExternalDocumentation.ts
  src/Converter/v3/Guard.ts
  src/Converter/v3/Header.ts
  src/Converter/v3/Headers.ts
  src/Converter/v3/MediaType.ts
  src/Converter/v3/Operation.ts
  src/Converter/v3/Parameter.ts
  src/Converter/v3/Parameters.ts
  src/Converter/v3/PathItem.ts
  src/Converter/v3/PathItems.ts
  src/Converter/v3/Reference.ts
  src/Converter/v3/RequestBodies.ts
  src/Converter/v3/RequestBody.ts
  src/Converter/v3/Response.ts
  src/Converter/v3/Responses.ts
  src/Converter/v3/Schema.ts
  src/Converter/v3/Schemas.ts
  src/Converter/v3/SecuritySchema.ts
  src/Converter/v3/SecuritySchemas.ts
  src/Converter/v3/Server.ts
  src/Converter/v3/Servers.ts
  src/Converter/v3/index.ts
  src/Converter/v3/toTypeNode.ts
  src/Converter/v3/types/OpenApiSchemaV3.ts
  src/Converter/v3/types/index.ts
  src/OpenApiParser/components/namespace.ts
  src/OpenApiParser/index.ts
  src/OpenApiParser/reference/resolve.ts
  src/Validator/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: storeを作成
  src/Converter/v3/Schemas.ts
  src/Converter/v3/index.ts
  src/Converter/v3/store/State.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/store/index.ts
Due: prettier --write, eslint --fix

feat: referenceの更新
  src/Converter/v3/Headers.ts
  src/Converter/v3/Parameters.ts
  src/Converter/v3/PathItems.ts
  src/Converter/v3/Reference.ts
  src/Converter/v3/RequestBodies.ts
  src/Converter/v3/Responses.ts
  src/Converter/v3/Schemas.ts
  src/Converter/v3/SecuritySchemas.ts
  src/Converter/v3/index.ts
  src/Converter/v3/store/State.ts
  src/Converter/v3/store/Store.ts
  src/Exception/index.ts
Due: prettier --write, eslint --fix

test: add test code
  .gitignore
  package.json
  scripts/testCodeGen.ts
  src/Converter/v3/Reference.ts
  src/FileSystem/index.ts
  src/index.ts
  test/api.test.domain/components/responses/FailedCreatingBlogPost.yml
  test/api.test.domain/components/schemas/BlogId.yml
  test/api.test.domain/components/schemas/User.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix, sort-package-json

chore(scripts): 開発用のwatcherを追加
  package.json
  scripts/testCodeGen.ts
  scripts/watch.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

feat: referenceの挙動を確定
  package.json
  src/Converter/v3/Headers.ts
  src/Converter/v3/Operation.ts
  src/Converter/v3/Parameters.ts
  src/Converter/v3/PathItem.ts
  src/Converter/v3/PathItems.ts
  src/Converter/v3/Reference.ts
  src/Converter/v3/RequestBodies.ts
  src/Converter/v3/RequestBody.ts
  src/Converter/v3/Response.ts
  src/Converter/v3/Responses.ts
  src/Converter/v3/Schemas.ts
  src/Converter/v3/SecuritySchemas.ts
  src/Converter/v3/index.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/toTypeNode.ts
  src/Exception/index.ts
  src/FileSystem/index.ts
  src/TypeScriptCodeGenerator/factory/ModuleBlock.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
  src/TypeScriptCodeGenerator/factory/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

fix: referenceの挙動を安定化
  src/Converter/v3/Headers.ts
  src/Converter/v3/Reference.ts
  src/Converter/v3/Responses.ts
  test/api.test.domain/components/headers/Authorization.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

feat: Storeの構造を調整
  src/Converter/v3/Headers.ts
  src/Converter/v3/Reference.ts
  src/Converter/v3/index.ts
  src/Converter/v3/store/Definition.ts
  src/Converter/v3/store/PropAccess.ts
  src/Converter/v3/store/State.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/store/__tests__/util-test.ts
  src/Converter/v3/store/index.ts
  src/TypeScriptCodeGenerator/factory/Namespace.ts
Due: prettier --write, eslint --fix

refactor: rename test file
  src/Converter/v3/store/__tests__/PropAccess-test.ts
Due: prettier --write, eslint --fix
