Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

chore: restore keywords and peerDependencies
  package.json
Due: prettier --write, sort-package-json

chore: update snapshot
  src/internal/OpenApiTools/Walker/Store.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
Due: prettier --write, eslint --fix

chore: maintenance and configuration updates (#142)
  .dependency-cruiser.cjs
  .github/workflows/build.yml
  lefthook.yml
  package.json
  scripts/tools/shell.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
  src/internal/OpenApiTools/Walker/Store.ts
  test/__tests__/class/argo-rollout-test.ts
  test/__tests__/class/cloudflare-test.ts
  test/__tests__/class/format.domain.ts
  test/__tests__/class/kubernetes-test.ts
  test/__tests__/class/multi-type.test.domain.ts
  test/__tests__/class/parameter-test.ts
  test/__tests__/class/spit-code-test.ts
  test/__tests__/class/template-only-test.ts
  test/__tests__/class/typedef-only-test.ts
  test/__tests__/class/typedef-with-template-test.ts
  test/__tests__/class/unknown-schema-domain-test.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/currying-functional/coudflare-test.ts
  test/__tests__/functional/argo-rollout-test.ts
  test/__tests__/functional/coudflare-test.ts
  test/__tests__/functional/format.domain.ts
  test/__tests__/functional/kubernetes-test.ts
  test/__tests__/functional/multi-type.test.domain.ts
  test/__tests__/functional/parameter-test.ts
  test/__tests__/functional/spit-code-test.ts
  test/__tests__/functional/template-only-test.ts
  test/__tests__/functional/typedef-only-test.ts
  test/__tests__/functional/typedef-with-template-test.ts
  test/__tests__/functional/unknown-schema-domain-test copy.ts
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: lint command
  .github/workflows/build.yml
  biome.json
  package.json
Due: prettier --write, sort-package-json

fix: lint command
  package.json
Due: prettier --write, sort-package-json

feat: remove factory directory
  src/internal/TsGenerator/factory/ArrowFunction.ts
  src/internal/TsGenerator/factory/Block.ts
  src/internal/TsGenerator/factory/CallExpression.ts
  src/internal/TsGenerator/factory/ConstructorDeclaration.ts
  src/internal/TsGenerator/factory/ElementAccessExpression.ts
  src/internal/TsGenerator/factory/ExpressionStatement.ts
  src/internal/TsGenerator/factory/FunctionTypeNode.ts
  src/internal/TsGenerator/factory/Identifier.ts
  src/internal/TsGenerator/factory/IndexedAccessTypeNode.ts
  src/internal/TsGenerator/factory/IntersectionTypeNode.ts
  src/internal/TsGenerator/factory/ModuleBlock.ts
  src/internal/TsGenerator/factory/NoSubstitutionTemplateLiteral.ts
  src/internal/TsGenerator/factory/ObjectLiteralExpression.ts
  src/internal/TsGenerator/factory/PropertyAccessExpression.ts
  src/internal/TsGenerator/factory/PropertyDeclaration.ts
  src/internal/TsGenerator/factory/RegularExpressionLiteral.ts
  src/internal/TsGenerator/factory/ReturnStatement.ts
  src/internal/TsGenerator/factory/ShorthandPropertyAssignment.ts
  src/internal/TsGenerator/factory/StringLiteral.ts
  src/internal/TsGenerator/factory/TemplateExpression.ts
  src/internal/TsGenerator/factory/TemplateHead.ts
  src/internal/TsGenerator/factory/TemplateMiddle.ts
  src/internal/TsGenerator/factory/TemplateSpan.ts
  src/internal/TsGenerator/factory/TemplateTail.ts
  src/internal/TsGenerator/factory/TypeLiteralNode.ts
  src/internal/TsGenerator/factory/TypeParameterDeclaration.ts
  src/internal/TsGenerator/factory/TypeReferenceNode.ts
  src/internal/TsGenerator/factory/UnionTypeNode.ts
  src/internal/TsGenerator/factory/VariableDeclaration.ts
  src/internal/TsGenerator/factory/index.ts
  src/internal/TsGenerator/factory/utils.ts
Due: prettier --write, eslint --fix

feat: support subpath exports
  README.md
  docs/ja/README-ja.md
  examples/apis/codegen.ts
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/generator-template.ts
  examples/readme-sample/split-typedef-and-api-client.ts
  examples/readme-sample/text-base-code-template.ts
  examples/readme-sample/typedef-and-api-client.ts
  examples/readme-sample/use-extract-schema-params.ts
  package.json
Due: prettier --write, eslint --fix, sort-package-json

feat: support subpath exports (#144)
  README.md
  docs/ja/README-ja.md
  examples/apis/codegen.ts
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/generator-template.ts
  examples/readme-sample/split-typedef-and-api-client.ts
  examples/readme-sample/text-base-code-template.ts
  examples/readme-sample/typedef-and-api-client.ts
  examples/readme-sample/use-extract-schema-params.ts
  package.json
Due: prettier --write, eslint --fix, sort-package-json

bump major version
  package.json
Due: prettier --write, sort-package-json

release: v2.0.0 (#145)
  package.json
Due: prettier --write, sort-package-json

chore(workflow): switch npm release to OIDC
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

fix: version
  package.json
Due: prettier --write, sort-package-json

chore: update package.json
  package.json
Due: prettier --write, sort-package-json

chore(workflow): switch npm release to OIDC (#146)
  .github/workflows/release.yml
  package.json
Due: prettier --write, sort-package-json

chore: bump minimum node version to v24
  package.json
Due: prettier --write, sort-package-json

chore(workflow): bump node version to v24 and cleanup checkout steps
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

chore: improve release workflow and bump node version to v24 (#147)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  package.json
Due: prettier --write, sort-package-json

fix: always treat path parameters as required per OpenAPI 3.x spec (#148)
  scripts/testCodeGenWithClass.ts
  scripts/testCodeGenWithCurryingFunctional.ts
  scripts/testCodeGenWithFunctional.ts
  src/__tests__/generateValidRootSchema.test.ts
  src/generateValidRootSchema.ts
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/class/parameter-test.ts
  test/__tests__/class/typedef-with-template-test.ts
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/parameter-test.ts
  test/__tests__/functional/typedef-with-template-test.ts
  test/path-parameter/index.yml
Due: prettier --write, eslint --fix

fix: add missing required default field in Responses type for test fixtures
  src/__tests__/generateValidRootSchema.test.ts
Due: prettier --write, eslint --fix

fix: replace non-null assertions with assert() in generateValidRootSchema tests
  scripts/testCodeGenWithClass.ts
  src/__tests__/generateValidRootSchema.test.ts
Due: prettier --write, eslint --fix

fix: always treat path parameters as required per OpenAPI 3.x spec (#149)
  scripts/testCodeGenWithClass.ts
  scripts/testCodeGenWithCurryingFunctional.ts
  scripts/testCodeGenWithFunctional.ts
  src/__tests__/generateValidRootSchema.test.ts
  src/generateValidRootSchema.ts
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/class/parameter-test.ts
  test/__tests__/class/typedef-with-template-test.ts
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/parameter-test.ts
  test/__tests__/functional/typedef-with-template-test.ts
  test/path-parameter/index.yml
Due: prettier --write, eslint --fix

test: add snapshot tests for PathItem-level path parameters with same-named query parameter
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/path-parameter/index.yml
Due: prettier --write

fix: path parameters always win over same-named query parameters in generated TypeScript interfaces
  src/internal/OpenApiTools/components/Parameter.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/class/__snapshots__/kubernetes-test.ts.snap
  test/__tests__/class/__snapshots__/spit-code-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/kubernetes-test.ts.snap
  test/__tests__/functional/__snapshots__/spit-code-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
Due: prettier --write, eslint --fix

refactor: remove path parameter normalization from generateValidRootSchema
  src/__tests__/generateValidRootSchema.test.ts
  src/generateValidRootSchema.ts
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
Due: prettier --write, eslint --fix

fix: resolve noTemplateCurlyInString and useTemplate lint warnings in test files
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/internal/TsGenerator/__tests__/factory.test.ts
Due: prettier --write, eslint --fix

fix: path parameters with same name as query parameters are always required in generated TypeScript interfaces (#150)
  src/__tests__/generateValidRootSchema.test.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/generateValidRootSchema.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/TsGenerator/__tests__/factory.test.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/class/__snapshots__/kubernetes-test.ts.snap
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/class/__snapshots__/spit-code-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/kubernetes-test.ts.snap
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/spit-code-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/path-parameter/index.yml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
