Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "package.json": ["sort-package-json"]
}

fix: desp
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update deps (#138)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/internal/Validator/index.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: Fall back to an alternate string if operationId is undefined.
  src/generateValidRootSchema.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: ref
  src/generateValidRootSchema.ts
Due: prettier --write, eslint --fix

test: add undefined pattern
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/api.v2.domain/index.yml
Due: prettier --write

feat: Fallback to an alternate string if operationId is undefined. (#139)
  src/generateValidRootSchema.ts
  src/index.ts
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/api.v2.domain/index.yml
Due: prettier --write, eslint --fix

feat: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, sort-package-json

chore: simple-git-hooks と lint-staged を lefthook に移行
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

ci: GitHubActionsのアクション参照をコミットハッシュで固定してNode.jsを24.xに更新
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  .gitignore
Due: prettier --write

chore(tsconfig.build): add ignoreDeprecations and node types configuration
  tsconfig.build.json
Due: prettier --write

ci(initialize): add description for setup git commit user action
  .github/actions/initialize/action.yml
Due: prettier --write

chore(package.json): replace pnpm version constraint with node >=22.0.0
  package.json
Due: prettier --write, sort-package-json

test(client-generate-test): increase test timeout to 30 seconds
  test/__tests__/client-generate-test.ts
Due: prettier --write, eslint --fix

chore(examples/apis): upgrade dependencies and refactor API client usage
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/apis/sample-axios.ts
  examples/apis/sample-debug.ts
  examples/apis/sample-fetch.ts
  examples/apis/sample-superagent.ts
  examples/apis/tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

refactor(CodeGenerator): remove unused typescript import and simplify IntermediateCode type
  src/typedef/CodeGenerator.ts
Due: prettier --write, eslint --fix

refactor(TsGenerator): simplify code generation to use string arrays instead of TypeScript AST
  src/internal/TsGenerator/index.ts
  src/internal/TsGenerator/traverse.ts
  src/internal/TsGenerator/utils.ts
Due: prettier --write, eslint --fix

refactor: replace typescript AST types with string return types across OpenAPI tools
  src/internal/OpenApiTools/ConverterContext.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/Walker/State.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/OpenApiTools/Walker/structure/InterfaceNode.ts
  src/internal/OpenApiTools/Walker/structure/TypeAliasNode.ts
  src/internal/OpenApiTools/components/Header.ts
  src/internal/OpenApiTools/components/MediaType.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/SecuritySchema.ts
  src/internal/OpenApiTools/paths/index.ts
  src/internal/OpenApiTools/toTypeNode.ts
Due: prettier --write, eslint --fix

refactor: replace TypeScript AST types with string return types across code templates
  src/code-templates/_shared/ApiClientArgument.ts
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/_shared/MethodBody/HeaderParameter.ts
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/QueryParameter.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/code-templates/_shared/utils.ts
  src/code-templates/class-api-client/ApiClientClass/Class.ts
  src/code-templates/class-api-client/ApiClientClass/Constructor.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/class-api-client/ApiClientClass/index.ts
  src/code-templates/class-api-client/index.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/CurryingArrowFunction.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/ReturnStatement.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/currying-functional-api-client/index.ts
  src/code-templates/functional-api-client/FunctionalApiClient/ArrowFunction.ts
  src/code-templates/functional-api-client/FunctionalApiClient/ClientTypeDefinition.ts
  src/code-templates/functional-api-client/FunctionalApiClient/ReturnStatement.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/functional-api-client/index.ts
Due: prettier --write, eslint --fix

chore(package.json): remove typescript peer dependency
  package.json
Due: prettier --write, sort-package-json

test(PathParameter): add explicit vitest imports
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
Due: prettier --write, eslint --fix

chore(.dependency-cruiser.cjs): expand test file exclusion patterns to include __tests__ and -test.ts
  .dependency-cruiser.cjs
Due: none

fix: escape double quotes in generated string literals and enum values
  .github/workflows/build.yml
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/generator-template.ts
  examples/readme-sample/use-extract-schema-params.ts
  package.json
  scripts/tools/shell.ts
  src/internal/TsGenerator/factory/index.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/class/argo-rollout-test.ts
  test/__tests__/class/cloudflare-test.ts
  test/__tests__/class/format.domain.ts
  test/__tests__/class/kubernetes-test.ts
  test/__tests__/class/multi-type.test.domain.ts
  test/__tests__/class/parameter-test.ts
  test/__tests__/class/spit-code-test.ts
  test/__tests__/class/template-only-test.ts
  test/__tests__/class/typedef-only-test.ts
  test/__tests__/class/typedef-with-template-test.ts
  test/__tests__/class/unknown-schema-domain-test.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/currying-functional/coudflare-test.ts
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/argo-rollout-test.ts
  test/__tests__/functional/coudflare-test.ts
  test/__tests__/functional/format.domain.ts
  test/__tests__/functional/kubernetes-test.ts
  test/__tests__/functional/multi-type.test.domain.ts
  test/__tests__/functional/parameter-test.ts
  test/__tests__/functional/spit-code-test.ts
  test/__tests__/functional/template-only-test.ts
  test/__tests__/functional/typedef-only-test.ts
  test/__tests__/functional/typedef-with-template-test.ts
  test/__tests__/functional/unknown-schema-domain-test copy.ts
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

feat: change tsc scope
  lefthook.yml
  tsconfig.json
Due: prettier --write

feat: update snapshot
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: none

feat: update readme
  README.md
  docs/ja/README-ja.md
  package.json
Due: prettier --write, sort-package-json

refactor: index.ts to factory.ts
  src/internal/TsGenerator/factory.ts
Due: prettier --write, eslint --fix

refactor: remove ast api I/F
  src/index.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/TsGenerator/factory.ts
  src/internal/TsGenerator/index.ts
  src/internal/TsGenerator/traverse.ts
  src/internal/TsGenerator/utils.ts
Due: prettier --write, eslint --fix

test: add test code
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/__tests__/TypeNodeContext.test.ts
  src/internal/TsGenerator/__tests__/factory.test.ts
  src/internal/TsGenerator/factory.ts
Due: prettier --write, eslint --fix

chore: fix maintenance branch CI and port missing PR#141 changes
  .dependency-cruiser.cjs
  .github/workflows/build.yml
  lefthook.yml
  package.json
  scripts/tools/shell.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
  src/internal/OpenApiTools/Walker/Store.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/class/argo-rollout-test.ts
  test/__tests__/class/cloudflare-test.ts
  test/__tests__/class/format.domain.ts
  test/__tests__/class/kubernetes-test.ts
  test/__tests__/class/multi-type.test.domain.ts
  test/__tests__/class/parameter-test.ts
  test/__tests__/class/spit-code-test.ts
  test/__tests__/class/template-only-test.ts
  test/__tests__/class/typedef-only-test.ts
  test/__tests__/class/typedef-with-template-test.ts
  test/__tests__/class/unknown-schema-domain-test.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/currying-functional/coudflare-test.ts
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/argo-rollout-test.ts
  test/__tests__/functional/coudflare-test.ts
  test/__tests__/functional/format.domain.ts
  test/__tests__/functional/kubernetes-test.ts
  test/__tests__/functional/multi-type.test.domain.ts
  test/__tests__/functional/parameter-test.ts
  test/__tests__/functional/spit-code-test.ts
  test/__tests__/functional/template-only-test.ts
  test/__tests__/functional/typedef-only-test.ts
  test/__tests__/functional/typedef-with-template-test.ts
  test/__tests__/functional/unknown-schema-domain-test copy.ts
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

chore: revert description and remove redundant test file
  package.json
  test/__tests__/functional/unknown-schema-domain-test copy.ts
Due: prettier --write, eslint --fix, sort-package-json
