Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "package.json": ["sort-package-json"]
}

chore: update
  src/code-templates/currying-functional-api-client/FunctionalApiClient/CurryingArrowFunction.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/index.ts
  src/meta.ts
Due: prettier --write, eslint --fix

chore: add method type
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/code-templates/_shared/MethodBody/types.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/CurryingArrowFunction.ts
Due: prettier --write, eslint --fix

chore: update uri variable declaration
  src/code-templates/_shared/MethodBody/PathParameter.ts
Due: prettier --write, eslint --fix

chore: update interface
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/class-api-client/ApiClientClass/index.ts
  src/code-templates/currying-functional-api-client/index.ts
  src/code-templates/functional-api-client/index.ts
Due: prettier --write, eslint --fix

chore: add comment
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/currying-functional-api-client/index.ts
  src/internal/TsGenerator/factory/VariableStatement.ts
Due: prettier --write, eslint --fix

chore: add comment
  README.md
  scripts/testCodeGenWithCurryingFunctional.ts
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/CurryingArrowFunction.ts
  src/code-templates/currying-functional-api-client/index.ts
Due: prettier --write, eslint --fix

chore: add comment
  src/code-templates/currying-functional-api-client/FunctionalApiClient/ClientTypeDefinition.ts
  src/code-templates/currying-functional-api-client/index.ts
Due: prettier --write, eslint --fix

chore: update readme
  README.md
  docs/ja/README-ja.md
Due: prettier --write

chore: update readme
  docs/ja/README-ja.md
Due: prettier --write

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: type of style property in requestEncodings
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/MethodBody/index.ts
Due: prettier --write, eslint --fix

chore: add test code
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/ref.access/index.yml
Due: prettier --write

chore: update
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
Due: prettier --write, eslint --fix

chore: update
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
Due: prettier --write, eslint --fix

chore: update
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
Due: none

test: fux
  src/code-templates/_shared/__tests__/utils.test.ts
Due: prettier --write, eslint --fix

fix: separated strings are not restored correctly (#112)
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
  test/__tests__/class/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/functional/__snapshots__/typedef-with-template-test.ts.snap
  test/ref.access/index.yml
Due: prettier --write, eslint --fix

test: complex ref
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v1.yml
Due: prettier --write

chore: stop maximum loop
  scripts/testCodeGenWithClass.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
Due: prettier --write, eslint --fix

test:examples in parameters
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write

fix:support examples schemas other object
  src/internal/Validator/openapi.json
Due: prettier --write

add exports.types field
  scripts/build.ts
  scripts/tools/dualPackageSupport.ts
Due: prettier --write, eslint --fix

add exports.types field (#115)
  scripts/build.ts
  scripts/tools/dualPackageSupport.ts
Due: prettier --write, eslint --fix

fix: parameters examples value validation (#114)
  src/internal/Validator/openapi.json
  test/__tests__/class/__snapshots__/parameter-test.ts.snap
  test/__tests__/functional/__snapshots__/parameter-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write

add 'types' field to runtime fields cheking
  scripts/tools/dualPackageSupport.ts
Due: prettier --write, eslint --fix

fix: add exports.types field 2 (#116)
  scripts/tools/dualPackageSupport.ts
Due: prettier --write, eslint --fix
