Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

chore: update dependencies
  package.json
Due: prettier --write, sort-package-json

chore: update dependencies
  example/package.json
  example/pnpm-lock.yaml
  example/yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
  src/meta.ts
Due: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: support typescript >= 4.8 (#96)
  src/internal/TsGenerator/factory/ClassDeclaration.ts
  src/internal/TsGenerator/factory/ConstructorDeclaration.ts
  src/internal/TsGenerator/factory/InterfaceDeclaration.ts
  src/internal/TsGenerator/factory/MethodDeclaration.ts
  src/internal/TsGenerator/factory/Namespace.ts
  src/internal/TsGenerator/factory/PropertyDeclaration.ts
  src/internal/TsGenerator/factory/TypeAliasDeclaration.ts
  src/internal/TsGenerator/factory/TypeParameterDeclaration.ts
Due: prettier --write, eslint --fix

refactor: api-client -> class-api-client
  .eslintingore
  .gitignore
  src/code-templates/class-api-client/ApiClientArgument.ts
  src/code-templates/class-api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/class-api-client/ApiClientClass/Class.ts
  src/code-templates/class-api-client/ApiClientClass/Constructor.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/HeaderParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/QueryParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/class-api-client/ApiClientClass/index.ts
  src/code-templates/class-api-client/__tests__/utils.test.ts
  src/code-templates/class-api-client/index.ts
  src/code-templates/class-api-client/types.ts
  src/code-templates/class-api-client/utils.ts
  src/meta.ts
  src/templates.ts
Due: prettier --write, eslint --fix

refactor: update
  .eslintrc.js
  example/readme-sample/use-extract-schema-params.ts
  package.json
  pnpm-lock.yaml
  scripts/tools/cherry-pick.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/class-api-client/utils.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/TsGenerator/factory/Namespace.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/multi-type.test.domain.ts
  test/__tests__/parameter-test.ts
  test/__tests__/spit-code-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/unknown-schema-domain-test.ts
Due: prettier --write, eslint --fix, sort-package-json

refactor: update deps and change directory (#98)
  .eslintingore
  .eslintrc.js
  .gitignore
  example/readme-sample/use-extract-schema-params.ts
  package.json
  pnpm-lock.yaml
  scripts/tools/cherry-pick.ts
  src/code-templates/class-api-client/ApiClientArgument.ts
  src/code-templates/class-api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/class-api-client/ApiClientClass/Class.ts
  src/code-templates/class-api-client/ApiClientClass/Constructor.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/HeaderParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/QueryParameter.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/class-api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/class-api-client/ApiClientClass/index.ts
  src/code-templates/class-api-client/__tests__/utils.test.ts
  src/code-templates/class-api-client/index.ts
  src/code-templates/class-api-client/types.ts
  src/code-templates/class-api-client/utils.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/TsGenerator/factory/Namespace.ts
  src/meta.ts
  src/templates.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/multi-type.test.domain.ts
  test/__tests__/parameter-test.ts
  test/__tests__/spit-code-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/unknown-schema-domain-test.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: initialize
  src/code-templates/_shared/ApiClientArgument.ts
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/_shared/MethodBody/HeaderParameter.ts
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/QueryParameter.ts
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/functional-api-client/index.ts
  src/code-templates/functional-api-client/types.ts
  src/templates.ts
Due: prettier --write, eslint --fix

chore: initialize
  package.json
  scripts/testCodeGen.ts
  scripts/testCodeGenWithFunctional.ts
  scripts/writer/Class.ts
  scripts/writer/Functional.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: initialize
  scripts/watch.ts
  src/code-templates/functional-api-client/FunctionalApiClient/Method.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/functional-api-client/index.ts
  src/internal/TsGenerator/factory/ArrowFunction.ts
  src/internal/TsGenerator/factory/index.ts
Due: prettier --write, eslint --fix

chore: initialize
  scripts/watch.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/internal/TsGenerator/factory/VariableStatement.ts
Due: prettier --write, eslint --fix

chore: update
  src/code-templates/functional-api-client/FunctionalApiClient/ReturnStatement.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/internal/TsGenerator/factory/ShorthandPropertyAssignment.ts
  src/internal/TsGenerator/factory/index.ts
Due: prettier --write, eslint --fix

chore: add return type
  src/code-templates/functional-api-client/FunctionalApiClient/Method.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
Due: prettier --write, eslint --fix

chore: add return type
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/functional-api-client/FunctionalApiClient/Method.ts
Due: prettier --write, eslint --fix

chore: add return type
  .prettierrc.cjs
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/_shared/MethodBody/PathParameter.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/code-templates/_shared/MethodBody/types.ts
Due: prettier --write, eslint --fix

chore: add return type
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/types.ts
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/class-api-client/ApiClientClass/index.ts
  src/code-templates/class-api-client/index.ts
  src/code-templates/functional-api-client/FunctionalApiClient/Method.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/functional-api-client/index.ts
  src/code-templates/functional-api-client/types.ts
Due: prettier --write, eslint --fix

chore: add return type
  scripts/testCodeGen.ts
Due: prettier --write, eslint --fix

chore: update snapshot
  package.json
  scripts/testCodeGenWithClass.ts
  scripts/watch.ts
  test/__tests__/argo-rollout-test.ts
  test/__tests__/format.domain.ts
  test/__tests__/kubernetes-test.ts
  test/__tests__/multi-type.test.domain.ts
  test/__tests__/parameter-test.ts
  test/__tests__/spit-code-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/typedef-with-template-test.ts
  test/__tests__/unknown-schema-domain-test.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: script
  package.json
Due: prettier --write, sort-package-json

feat: update readme
  README.md
  docs/ja/README-ja.md
  src/templates.ts
  test/__tests__/client-generate-test.ts
Due: prettier --write, eslint --fix

chore: update
  example/codegen.ts
  example/readme-sample/split-typedef-and-api-client.ts
  example/readme-sample/typedef-and-api-client.ts
  scripts/writer/Class.ts
  src/index.ts
Due: prettier --write, eslint --fix

style: format
  .prettierrc.cjs
Due: none

chore: add comment & return typ
  src/code-templates/functional-api-client/FunctionalApiClient/ClientTypeDefinition.ts
  src/code-templates/functional-api-client/FunctionalApiClient/Method.ts
  src/code-templates/functional-api-client/FunctionalApiClient/ReturnStatement.ts
  src/code-templates/functional-api-client/index.ts
  src/internal/TsGenerator/factory/ArrowFunction.ts
  src/meta.ts
Due: prettier --write, eslint --fix

chore: add comment & return typ
  src/code-templates/functional-api-client/FunctionalApiClient/ArrowFunction.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
