Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

ci: remove codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci: fix checkout sha
  .github/workflows/build.yml
  .github/workflows/versionUp.yml
Due: prettier --write

fix: test code types
  src/Converter/v3/store/__tests__/PropAccess-test.ts
Due: prettier --write, eslint --fix

chore: update libraries
  package.json
  src/FileSystem/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

test: add snapshot test
  jest.snapshot.config.js
  package.json
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/__tests__/snapshot-test.ts
Due: prettier --write, eslint --fix, sort-package-json

ci: change order
  .github/workflows/build.yml
Due: prettier --write

ci: remove debug file
  src/Converter/v3/store/Store.ts
Due: prettier --write, eslint --fix

ci: fix mkdir
  scripts/testCodeGen.ts
Due: prettier --write, eslint --fix

docs: add template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor: CodeGenerator用のParmaeterを切り出し
  src/Converter/v3/Generator.ts
  src/Converter/v3/templates/ApiClientArgument.ts
  src/Converter/v3/templates/ApiClientClass/Method.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/CallRequest.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/PathParameter.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/index.ts
  src/Converter/v3/templates/ApiClientClass/index.ts
  src/Converter/v3/types/CodeGeneratorParams.ts
  src/Converter/v3/types/index.ts
Due: prettier --write, eslint --fix

refactor: type names
  src/Converter/v3/Generator.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/PathParameter.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/index.ts
  src/Converter/v3/types/CodeGeneratorParams.ts
  src/Converter/v3/types/index.ts
Due: prettier --write, eslint --fix

refactor: update name
  src/Converter/v3/Generator.ts
  src/Converter/v3/templates/ApiClientArgument.ts
  src/Converter/v3/templates/ApiClientClass/ApiClientInterface.ts
  src/Converter/v3/templates/ApiClientClass/Method.ts
  src/Converter/v3/templates/ApiClientClass/MethodBody/index.ts
  src/Converter/v3/types/CodeGeneratorParams.ts
Due: prettier --write, eslint --fix

feat: コードをユーザーが自由に変更できるAPIを作成した
  src/Converter/v3/Generator.ts
  src/Converter/v3/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: CodeTemplateを切り出し
  src/Converter/v3/Generator.ts
  src/Converter/v3/index.ts
  src/Converter/v3/templates/index.ts
  src/DefaultCodeTemplate/ApiClientArgument.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  src/DefaultCodeTemplate/ApiClientClass/Class.ts
  src/DefaultCodeTemplate/ApiClientClass/Constructor.ts
  src/DefaultCodeTemplate/ApiClientClass/Method.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/CallRequest.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/HeaderParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/PathParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/QueryParameter.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/__tests__/PathParameter-test.ts
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/index.ts
  src/DefaultCodeTemplate/ApiClientClass/index.ts
  src/DefaultCodeTemplate/index.ts
  src/DefaultCodeTemplate/utils.ts
  src/index.ts
Due: prettier --write, eslint --fix

test: fix circular dependency
  src/DefaultCodeTemplate/index.ts
Due: prettier --write, eslint --fix

feat: add validator
  package.json
  src/Converter/v3/index.ts
  src/Converter/v3/types/NoRefOpenApiSchema.ts
  src/Validator/index.ts
  src/Validator/v3/index.ts
  src/Validator/v3/openapi.json
  test/api.test.domain/index.yml
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

test: テスト項目を随時追加
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/index.ts
  src/Converter/v3/toTypeNode.ts
  src/Validator/v3/openapi.json
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

test: add directory schema
  src/Converter/v3/Context.ts
  src/Exception/index.ts
  test/api.test.domain/components/schemas/Archives.yml
  test/api.test.domain/components/schemas/BlogId.yml
  test/api.test.domain/components/schemas/Category/Animal.yml
  test/api.test.domain/components/schemas/Category/Game.yml
  test/api.test.domain/components/schemas/Category/Id.yml
  test/api.test.domain/components/schemas/Category/Study.yml
  test/api.test.domain/components/schemas/Category/Technology.yml
  test/api.test.domain/components/schemas/Favorite.yml
  test/api.test.domain/components/schemas/Level1/Level2/Level3/Level4/RemoteObject.yml
  test/api.test.domain/components/schemas/Level1/Level2/Level3/RemoteArray.yml
  test/api.test.domain/components/schemas/Level1/Level2/RemoteNumber.yml
  test/api.test.domain/components/schemas/Level1/RemoteBoolean.yml
  test/api.test.domain/components/schemas/RemoteString.yml
  test/api.test.domain/components/schemas/UserId.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

test: add parmaeters,responses,requestBodies
  src/Converter/v3/Comment.ts
  src/Converter/v3/types/NoRefOpenApiSchema.ts
  test/api.test.domain/components/headers/A.yml
  test/api.test.domain/components/headers/Authorization.yml
  test/api.test.domain/components/headers/HttpResponse/Expect.yml
  test/api.test.domain/components/headers/Level1/B.yml
  test/api.test.domain/components/headers/Origin.yml
  test/api.test.domain/components/schemas/DirectRef/StringType.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

test: direct remote referenceの試験を追加
  src/Converter/v3/ResolveReference/index.ts
  test/api.test.domain/components/schemas/DirectRef/ForHeader.yml
  test/api.test.domain/components/schemas/DirectRef/ForParameters.yml
  test/api.test.domain/components/schemas/DirectRef/ForRequestBody.yml
  test/api.test.domain/components/schemas/DirectRef/ForResponse.yml
  test/api.test.domain/components/schemas/DirectRef/StringType.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

feat: update test
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write

test: update
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write

fix: parameter remote schema
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/Schemas.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/components/parameters/A.yml
  test/api.test.domain/components/parameters/Field.yml
  test/api.test.domain/components/parameters/level1/B.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

refactor: method move
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
Due: prettier --write, eslint --fix

test: add response remote reference
  src/Converter/v3/components/Responses.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/components/responses/FailedCreatingBlogPost.yml
  test/api.test.domain/components/responses/Level1/Level2/ResponseC.yml
  test/api.test.domain/components/responses/Level1/ResponseB.yml
  test/api.test.domain/components/responses/ResponseA.yml
  test/api.test.domain/components/responses/SuccessCreateBlog.yml
  test/api.test.domain/components/responses/blog/AuthorizationError.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

test: add requestBodies
  src/Converter/v3/components/RequestBodies.ts
  test/api.test.domain/components/requestBodies/Category.yml
  test/api.test.domain/components/requestBodies/Level1/Level2/RequestBodyC.yml
  test/api.test.domain/components/requestBodies/Level1/RequestBodyB.yml
  test/api.test.domain/components/requestBodies/RequestBodyA.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

test: add header reference
  src/Converter/v3/components/Header.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/components/responses/ResponseA.yml
Due: prettier --write, eslint --fix

test: update
  src/Converter/v3/Name.ts
  src/DefaultCodeTemplate/utils.ts
Due: prettier --write, eslint --fix

refactor: remove unused variable
  src/Converter/v3/Context.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/toTypeNode.ts
Due: prettier --write, eslint --fix

feat: pathItemsのvalidatorを緩和
  src/Validator/v3/openapi.json
  test/api.test.domain/index.yml
Due: prettier --write

fix: reference to reference
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/paths/index.ts
  src/DefaultCodeTemplate/ApiClientClass/ApiClientInterface.ts
  test/READM.md
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/components/headers/ForResponses/FullRemoteReference.yml
  test/api.test.domain/components/parameters/ForPathItems/FullRemoteReference.yml
  test/api.test.domain/components/parameters/ForRequestBodies/FromIncludeRemoteReference.yml
  test/api.test.domain/components/pathItems/CategoryCRUD.yml
  test/api.test.domain/components/pathItems/FullRemoteReference.yml
  test/api.test.domain/components/requestBodies/ForPaths/IncludeRemoteReference.yml
  test/api.test.domain/components/responses/ForPathItems/FullRemoteReference.yml
  test/api.test.domain/components/schemas/FullRemoteReference/ForHeaders.yml
  test/api.test.domain/components/schemas/FullRemoteReference/ForParameters.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

docs: READMEを追加
  LICENSE
  docs/ja/README-ja.md
Due: prettier --write

docs: update
  README.md
  package.json
Due: prettier --write, sort-package-json

docs: update
  README.md
  docs/ja/README-ja.md
  src/Converter/v3/index.ts
  src/ResolveReference/index.ts
  src/Validator/v3/index.ts
  src/index.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix

chore: add example project
  example/README.md
  example/client.ts
  example/codegen.ts
  example/main.ts
  example/package.json
  example/spec/components/responses/Books.yml
  example/spec/components/schemas/Author.yml
  example/spec/components/schemas/Book.yml
  example/spec/openapi.yml
  example/tsconfig.json
  example/yarn.lock
  package.json
Due: prettier --write, eslint --fix, sort-package-json

fix: parameters requiredの修正
  example/client.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/index.ts
  src/Converter/v3/paths/index.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/components/schemas/Child.yml
  test/api.test.domain/components/schemas/Item.yml
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix: referenceの不具合などを修正
  .vscode/launch.json
  example/client.ts
  example/codegen.ts
  example/main.ts
  example/package.json
  example/yarn.lock
  src/Converter/v3/components/Responses.ts
  src/index.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix, sort-package-json

feat: add max log length
  example/codegen.ts
  example/package.json
  example/spec/openapi.yml
  example/yarn.lock
  scripts/testCodeGen.ts
  src/Validator/v3/index.ts
  src/index.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: reference pointの指定ミス
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
