Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: add example
  example/get-raw-response.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: remove require import
  src/internal/OpenApiTools/Comment.ts
Due: prettier --write, eslint --fix

fix: meta file
  .github/workflows/release.yml
  scripts/build.ts
  src/internal/OpenApiTools/Comment.ts
  src/meta.ts
Due: prettier --write, eslint --fix

chore: update pnpm version
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  pnpm-lock.yaml
Due: prettier --write

fix: remove require import (#80)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  pnpm-lock.yaml
  scripts/build.ts
  src/internal/OpenApiTools/Comment.ts
  src/meta.ts
Due: prettier --write, eslint --fix

fix: release script
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: release script (#81)
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix, sort-package-json

test: update sample
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.v2.domain/index.yml
Due: prettier --write

test: update sample
  CONTRIBUTING.md
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.v2.domain/index.yml
Due: prettier --write, eslint --fix

feat: supports fragment in remote reference
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/components/Reference.ts
Due: prettier --write, eslint --fix

fix: test failed
  README.md
  docs/ja/README-ja.md
  scripts/build.ts
Due: prettier --write, eslint --fix

fix: test failed (#85)
  README.md
  docs/ja/README-ja.md
  scripts/build.ts
Due: prettier --write, eslint --fix

test: add basic snapshot test for remote ref access
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/typedef-with-template-test.ts
Due: prettier --write, eslint --fix

test: fixup bb342ad (missing to add for git)
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v1.yml
Due: prettier --write

ci: should generate code before test
  .github/workflows/build.yml
Due: prettier --write

fix: follow path separator for windows
  src/internal/OpenApiTools/components/Reference.ts
Due: prettier --write, eslint --fix

fix: file path
  .github/workflows/build.yml
  test/__tests__/argo-rollout-test.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/format.domain.ts
  test/__tests__/kubernetes-test.ts
  test/__tests__/multi-type.test.domain.ts
  test/__tests__/parameter-test.ts
  test/__tests__/spit-code-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/typedef-with-template-test.ts
  test/__tests__/unknown-schema-domain-test.ts
Due: prettier --write, eslint --fix

fix: file path
  src/internal/OpenApiTools/components/Reference.ts
Due: prettier --write, eslint --fix

feat: supports fragment in remote reference (#87)
  scripts/testCodeGen.ts
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/components/Reference.ts
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/argo-rollout-test.ts
  test/__tests__/client-generate-test.ts
  test/__tests__/format.domain.ts
  test/__tests__/kubernetes-test.ts
  test/__tests__/multi-type.test.domain.ts
  test/__tests__/parameter-test.ts
  test/__tests__/spit-code-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/typedef-with-template-test.ts
  test/__tests__/unknown-schema-domain-test.ts
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v1.yml
Due: prettier --write, eslint --fix

fix: nested property access
  scripts/testCodeGen.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/typedef-only-test.ts
  test/json.properties/index.yml
Due: prettier --write, eslint --fix

fix: nested property access
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/json.properties/index.yml
Due: prettier --write

fix: nested property access
  src/internal/OpenApiTools/TypeNodeContext.ts
Due: prettier --write, eslint --fix

fix: nested property access
  test/__tests__/typedef-only-test.ts
Due: prettier --write, eslint --fix

fix: nested property access
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
Due: none

fix: accessing nested object properties by reference (#88)
  scripts/testCodeGen.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/typedef-only-test.ts
  test/json.properties/index.yml
Due: prettier --write, eslint --fix

fix: make nullable work in components/schema
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix: make nullable work in components/schema (#92)
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

docs: update playground link
  README.md
Due: prettier --write

docs: update readme link
  docs/ja/README-ja.md
Due: prettier --write

docs: update playground link (#93)
  README.md
  docs/ja/README-ja.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
