Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

feat: support nullable
  src/Converter/v3/toTypeNode.ts
  src/Converter/v3/types/OpenApiSchemaV3.ts
Due: prettier --write, eslint --fix

docs: update example
  example/README.md
  example/client.ts
  example/package.json
  example/sample-axios.ts
  example/sample-debug.ts
  example/sample-fetch.ts
  example/sample-superagent.ts
  example/tsconfig.json
  example/yarn.lock
  src/DefaultCodeTemplate/ApiClientClass/MethodBody/CallRequest.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix, sort-package-json

docs: update
  README.md
Due: prettier --write

docs: update
  README.md
  docs/ja/README-ja.md
Due: prettier --write

test: remove version text
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/__tests__/snapshot-test.ts
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: after release some bugs
  .dependency-cruiser.js
  README.md
  example/codegen.ts
  package.json
  scripts/testCodeGen.ts
  src/index.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: after release some bugs (#4)
  .dependency-cruiser.js
  README.md
  example/codegen.ts
  package.json
  scripts/testCodeGen.ts
  src/index.ts
Due: prettier --write, eslint --fix, sort-package-json

docs: remove v3
  README.md
  docs/ja/README-ja.md
Due: prettier --write

docs: remove v3 (#5)
  README.md
  docs/ja/README-ja.md
Due: prettier --write

fix: example
  example/sample-axios.ts
  example/sample-debug.ts
  example/sample-fetch.ts
  example/sample-superagent.ts
  example/utils.ts
Due: prettier --write, eslint --fix

docs: add playground
  README.md
  docs/ja/README-ja.md
Due: prettier --write

fix: additionalProperties bugs
  src/Converter/v3/toTypeNode.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix: add typeAlias description
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
Due: prettier --write, eslint --fix

chore: fix bugs and update docs (#6)
  README.md
  docs/ja/README-ja.md
  example/sample-axios.ts
  example/sample-debug.ts
  example/sample-fetch.ts
  example/sample-superagent.ts
  example/utils.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/toTypeNode.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix: unresolved reference
  src/Converter/v3/Context.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/toTypeNode.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix: unresolved reference (#8)
  src/Converter/v3/Context.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/toTypeNode.ts
  test/__tests__/__snapshots__/snapshot-test.ts.snap
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

fix(vadliation): example property
  scripts/testCodeGen.ts
  src/Validator/v3/openapi.json
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

docs(github): add playground url in bug report
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Due: prettier --write

fix(vadliation): example property (#10)
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  scripts/testCodeGen.ts
  src/Validator/v3/openapi.json
  test/api.test.domain/index.yml
Due: prettier --write, eslint --fix

refactor: use @himenon/path-oriented-data-structure
  package.json
  src/Converter/v3/Context.ts
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/PathItem.ts
  src/Converter/v3/components/PathItems.ts
  src/Converter/v3/components/RequestBodies.ts
  src/Converter/v3/components/RequestBody.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/components/SecuritySchemas.ts
  src/Converter/v3/store/Definition.ts
  src/Converter/v3/store/PropAccess.ts
  src/Converter/v3/store/State.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/store/__tests__/PropAccess-test.ts
  src/Converter/v3/store/masking.ts
  src/Converter/v3/store/structure/DataStructure.ts
  src/Converter/v3/store/structure/InterfaceNode.ts
  src/Converter/v3/store/structure/NamespaceTree.ts
  src/Converter/v3/store/structure/TypeAliasNode.ts
  src/Converter/v3/store/structure/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

refactor: remove dosen't use code
  src/Converter/v3/store/Store.ts
Due: prettier --write, eslint --fix

fix: types dep -> devDeps
  package.json
Due: prettier --write, sort-package-json

refactor: remove unused state
  src/Converter/v3/store/State.ts
Due: prettier --write, eslint --fix

fix: types
  package.json
  src/Converter/v3/store/structure/DataStructure.ts
  src/Converter/v3/types/OpenApiSchemaV3.ts
Due: prettier --write, eslint --fix, sort-package-json

refactor(data-structure): use @himenon/path-oriented-data-structure (#11)
  package.json
  src/Converter/v3/Context.ts
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/PathItem.ts
  src/Converter/v3/components/PathItems.ts
  src/Converter/v3/components/RequestBodies.ts
  src/Converter/v3/components/RequestBody.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/components/SecuritySchemas.ts
  src/Converter/v3/store/Definition.ts
  src/Converter/v3/store/PropAccess.ts
  src/Converter/v3/store/State.ts
  src/Converter/v3/store/Store.ts
  src/Converter/v3/store/__tests__/PropAccess-test.ts
  src/Converter/v3/store/masking.ts
  src/Converter/v3/store/structure/DataStructure.ts
  src/Converter/v3/store/structure/InterfaceNode.ts
  src/Converter/v3/store/structure/NamespaceTree.ts
  src/Converter/v3/store/structure/TypeAliasNode.ts
  src/Converter/v3/store/structure/index.ts
  src/Converter/v3/types/OpenApiSchemaV3.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

refactor(types): MapLike to Record
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/MediaType.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/PathItems.ts
  src/Converter/v3/components/RequestBodies.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/components/SecuritySchemas.ts
  src/Converter/v3/types/OpenApiSchemaV3.ts
  src/ResolveReference/index.ts
Due: prettier --write, eslint --fix

feat: Added implementation to infer type if type does not exist
  .eslintrc.js
  src/Converter/v3/Guard.ts
  src/Converter/v3/components/Reference.ts
  src/Converter/v3/toTypeNode.ts
  src/ResolveReference/index.ts
Due: prettier --write, eslint --fix

feat: add convert context
  src/Converter/v3/ConverterContext.ts
  src/Converter/v3/TypeNodeContext.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/MediaType.ts
  src/Converter/v3/components/Operation.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Parameters.ts
  src/Converter/v3/components/PathItem.ts
  src/Converter/v3/components/PathItems.ts
  src/Converter/v3/components/RequestBodies.ts
  src/Converter/v3/components/RequestBody.ts
  src/Converter/v3/components/Response.ts
  src/Converter/v3/components/Responses.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/index.ts
  src/Converter/v3/paths/index.ts
  src/Converter/v3/toTypeNode.ts
Due: prettier --write, eslint --fix

fix: reserved word escape
  src/Converter/v3/ConverterContext.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/MediaType.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/toTypeNode.ts
Due: prettier --write, eslint --fix

fix: header escape text
  src/Converter/v3/ConverterContext.ts
  src/Converter/v3/components/Header.ts
  src/Converter/v3/components/Headers.ts
  src/Converter/v3/components/MediaType.ts
  src/Converter/v3/components/Parameter.ts
  src/Converter/v3/components/Schema.ts
  src/Converter/v3/components/Schemas.ts
  src/Converter/v3/toTypeNode.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
