Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

fix: lint
  biome.json
Due: prettier --write

chore: exclude snapshot files from TypeScript type checking
  tsconfig.json
Due: prettier --write

test: add snapshot test
  scripts/testCodeGenWithClass.ts
  test/__tests__/class/__snapshots__/kubernetes/client-v1.28.6.ts
  test/__tests__/class/kubernetes-test.ts
Due: prettier --write, eslint --fix

test(kubernetes): Kubernetes v1.28.6のOpenAPI仕様JSONファイルをテスト用に追加
  test/kubernetes/openapi-v1.28.6.json
Due: prettier --write

refactor(test): バージョン情報置換時に改行コードをLFに統一する
  test/utils.ts
Due: prettier --write, eslint --fix

refactor: `node:os`の`EOL`を`\n`に統一
  src/code-templates/class-api-client/ApiClientClass/Method.ts
  src/code-templates/currying-functional-api-client/FunctionalApiClient/index.ts
  src/code-templates/functional-api-client/FunctionalApiClient/index.ts
  src/index.ts
  src/internal/OpenApiTools/Comment.ts
  src/internal/OpenApiTools/Walker/Operation.ts
  src/internal/OpenApiTools/components/ExternalDocumentation.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Server.ts
  src/internal/OpenApiTools/components/Servers.ts
  src/internal/TsGenerator/__tests__/factory.test.ts
  src/internal/TsGenerator/factory.ts
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, sort-package-json

chore(deps): `dot-prop`を本番依存へ移動し`read-package-up`を削除
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update dependencies (#152)
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, sort-package-json

test: cover xquik header parameter names
  src/code-templates/_shared/MethodBody/__tests__/HeaderParameter-test.ts
Due: prettier --write, eslint --fix

test: add non-object example validation coverage
  scripts/testCodeGenWithFunctional.ts
  src/internal/Validator/__tests__/index.test.ts
  test/__tests__/functional/__snapshots__/example-validation/client.ts
  test/__tests__/functional/example-validation-test.ts
  test/example-validation/index.yml
Due: prettier --write, eslint --fix

fix: allow non-object OpenAPI example values
  src/internal/Validator/openapi.json
Due: prettier --write

fix: accept non-object OpenAPI example values (#155)
  scripts/testCodeGenWithFunctional.ts
  src/internal/Validator/__tests__/index.test.ts
  src/internal/Validator/openapi.json
  test/__tests__/functional/__snapshots__/example-validation/client.ts
  test/__tests__/functional/example-validation-test.ts
  test/example-validation/index.yml
Due: prettier --write, eslint --fix

chore(deps): update pnpm and project tooling
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  biome.json
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/testCodeGenWithClass.ts
  scripts/testCodeGenWithCurryingFunctional.ts
  scripts/testCodeGenWithFunctional.ts
  scripts/validate.ts
  scripts/watch.ts
  scripts/writer/Class.ts
  scripts/writer/CurryingFunctional.ts
  scripts/writer/Functional.ts
  src/internal/OpenApiTools/Walker/Store.ts
  tsconfig.build.json
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

ci: restore pnpm cache in workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

build: retain existing build command and TypeScript version
  package.json
  pnpm-lock.yaml
  scripts/testCodeGenWithClass.ts
  scripts/testCodeGenWithCurryingFunctional.ts
  scripts/testCodeGenWithFunctional.ts
  scripts/validate.ts
  scripts/watch.ts
  scripts/writer/Class.ts
  scripts/writer/CurryingFunctional.ts
  scripts/writer/Functional.ts
  tsconfig.build.json
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

chore(deps): update pnpm and project tooling (#156)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  biome.json
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/validate.ts
  src/internal/OpenApiTools/Walker/Store.ts
Due: prettier --write, eslint --fix, sort-package-json

fix(ci): avoid pnpm lockfile mutation before versioning
  .github/workflows/versionUp.yml
Due: prettier --write

fix(ci): avoid pnpm lockfile mutation before versioning (#157)
  .github/workflows/versionUp.yml
Due: prettier --write

fix(ci): downgrade lerna for changelog compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix(ci): restore lerna npm script invocation
  .github/workflows/versionUp.yml
Due: prettier --write

fix(ci): downgrade lerna for changelog compatibility (#158)
  .github/workflows/versionUp.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: lockfile
  pnpm-lock.yaml
Due: prettier --write

fix: lockfile (#159)
  pnpm-lock.yaml
Due: prettier --write

fix: resolve nested remote schema references
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/__tests__/Reference.test.ts
  src/internal/OpenApiTools/__tests__/TypeNodeContext.test.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/class/__snapshots__/typedef-with-template/remote-ref-access.ts
  test/__tests__/functional/__snapshots__/typedef-with-template/remote-ref-access.ts
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v2.yml
Due: prettier --write, eslint --fix

test: reproduce nested remote schema reference failure
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v1.yml
Due: prettier --write

fix: resolve nested remote schema references (#160)
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/__tests__/Reference.test.ts
  src/internal/OpenApiTools/__tests__/TypeNodeContext.test.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/toTypeNode.ts
  test/__tests__/class/__snapshots__/typedef-with-template/remote-ref-access.ts
  test/__tests__/functional/__snapshots__/typedef-with-template/remote-ref-access.ts
  test/remote.ref.access/v0.yml
  test/remote.ref.access/v1.yml
  test/remote.ref.access/v2.yml
Due: prettier --write, eslint --fix

feat: support OpenAPI 3.x specifications
  README.md
  docs/ja/README-ja.md
  src/code-templates/_shared/ApiClientInterface.ts
  src/code-templates/_shared/MethodBody/CallRequest.ts
  src/code-templates/_shared/MethodBody/index.ts
  src/generateValidRootSchema.ts
  src/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Guard.ts
  src/internal/OpenApiTools/InferredType.ts
  src/internal/OpenApiTools/Name.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/Walker/Definition.ts
  src/internal/OpenApiTools/Walker/Operation.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/OpenApiTools/components/Header.ts
  src/internal/OpenApiTools/components/MediaType.ts
  src/internal/OpenApiTools/components/MediaTypes.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchema.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/OpenApiTools/types/index.ts
  src/internal/ResolveReference/index.ts
  src/internal/TsGenerator/factory.ts
  src/internal/Validator/__tests__/openapi-3x.test.ts
  src/internal/Validator/openapi.json
  src/typedef/CodeGenerator.ts
  src/typedef/OpenApi.ts
Due: prettier --write, eslint --fix

fix: handle null property schemas
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/Validator/__tests__/openapi-3x.test.ts
Due: prettier --write, eslint --fix

fix: stabilize OpenAPI 3.x CI generation
  package.json
  src/code-templates/_shared/ApiClientInterface.ts
  src/internal/OpenApiTools/InferredType.ts
  test/__tests__/class/__snapshots__/split/types.ts
  test/__tests__/class/__snapshots__/typedef-only/api.test.domain.ts
  test/__tests__/class/__snapshots__/typedef-with-template/api.test.domain.ts
  test/__tests__/class/__snapshots__/typedef-with-template/api.v2.domain.ts
  test/__tests__/class/__snapshots__/typedef-with-template/sync-api.test.domain.ts
  test/__tests__/functional/__snapshots__/split/types.ts
  test/__tests__/functional/__snapshots__/typedef-only/api.test.domain.ts
  test/__tests__/functional/__snapshots__/typedef-with-template/api.test.domain.ts
  test/__tests__/functional/__snapshots__/typedef-with-template/api.v2.domain.ts
  test/__tests__/functional/__snapshots__/typedef-with-template/sync-api.test.domain.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: normalize logical component paths
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/RequestBodies.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
