Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

fix: type
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Walker/Operation.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

fix: type
  src/internal/OpenApiTools/Walker/Operation.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: response body
  src/internal/OpenApiTools/Extractor.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

fix: response body
  src/internal/OpenApiTools/Extractor.ts
Due: prettier --write, eslint --fix

fix: response body (#127)
  src/internal/OpenApiTools/Extractor.ts
  test/__tests__/class/__snapshots__/cloudflare-test.ts.snap
  test/__tests__/currying-functional/__snapshots__/coudflare-test.ts.snap
  test/__tests__/functional/__snapshots__/coudflare-test.ts.snap
Due: prettier --write, eslint --fix

fix: expression
  src/code-templates/_shared/MethodBody/PathParameter.ts
Due: prettier --write, eslint --fix

fix: test case
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
Due: prettier --write, eslint --fix

fix(build): bundle pure esm package
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

test(dependency-cruiser): ignore packages from not-to-dev-dep rules
  .dependency-cruiser.cjs
Due: none

fix(build): bundle pure esm package (#133)
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

ci: update github ci
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  examples/apis/pnpm-lock.yaml
  examples/pure-js/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  examples/apis/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, sort-package-json

chore: update deps
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/pure-js/package.json
  examples/pure-js/pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update deps
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependencies (#134)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/apis/tsconfig.json
  examples/pure-js/package.json
  examples/pure-js/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, sort-package-json

chore: support provenance
  .github/workflows/release.yml
Due: prettier --write

chore: support provenance
  .github/actions/initialize/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

chore: support provenance
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

ci: support provenance (#135)
  .github/actions/initialize/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

fix: typo
  .github/actions/initialize/action.yml
Due: prettier --write

fix: typo (#137)
  .github/actions/initialize/action.yml
Due: prettier --write

chore: update deps
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/internal/Validator/index.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: pnpm version
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
  package.json
Due: prettier --write, sort-package-json

chore: downgrade
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: build settings
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
