Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

fix: cherry-pick
  scripts/build.ts
Due: prettier --write, eslint --fix

fix: cherry-pick
  scripts/build.ts
  scripts/tools/cherry-pick.ts
Due: prettier --write, eslint --fix

fix: remove cherry-pick lib
  package.json
  scripts/build.ts
  scripts/tools/cherry-pick.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

refactor: update test code generator
  scripts/build.ts
  scripts/testCodeGen.ts
Due: prettier --write, eslint --fix

test: update snapshot code test
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/template-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/snapshot-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/typedef-with-template-test.ts
  test/utils.ts
Due: prettier --write, eslint --fix

refactor: update test code generator (#33)
  scripts/build.ts
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/template-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
  test/__tests__/__snapshots__/typedef-with-template-test.ts.snap
  test/__tests__/snapshot-test.ts
  test/__tests__/template-only-test.ts
  test/__tests__/typedef-only-test.ts
  test/__tests__/typedef-with-template-test.ts
  test/utils.ts
Due: prettier --write, eslint --fix

docs: update comment
  src/index.ts
  src/typedef/Validator.ts
Due: prettier --write, eslint --fix

feat: update type def generator
  scripts/testCodeGen.ts
  src/index.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/store/Store.ts
  test/__tests__/__snapshots__/typedef-only-test.ts.snap
Due: prettier --write, eslint --fix

test: add split code test
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/spit-code-test.ts
Due: prettier --write, eslint --fix

feat: split type definition (#34)
  scripts/testCodeGen.ts
  src/index.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/store/Store.ts
  src/typedef/Validator.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/spit-code-test.ts
Due: prettier --write, eslint --fix

refactor: change interface name
  scripts/testCodeGen.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: add additional comment option
  scripts/build.ts
  src/api.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/api-client/ApiClientClass/index.ts
  src/code-templates/api-client/index.ts
  src/code-templates/api-client/types.ts
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/ResolveReference/index.ts
  test/utils.ts
Due: prettier --write, eslint --fix

test: udpate option
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/spit-code-test.ts.snap
Due: prettier --write, eslint --fix

feat: providing experimental APIs
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/store/Operation.ts
  src/typedef/CodeGenerator.ts
  src/typedef/Experimental.ts
  src/types.ts
Due: prettier --write, eslint --fix

test: add generator params test
  scripts/testCodeGen.ts
  test/__tests__/__snapshots__/parameter-test.ts.snap
  test/__tests__/parameter-test.ts
Due: prettier --write, eslint --fix

feat: provide a convenient experimental API for code extension (#35)
  scripts/build.ts
  scripts/testCodeGen.ts
  src/api.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/PathParameter.ts
  src/code-templates/api-client/ApiClientClass/index.ts
  src/code-templates/api-client/index.ts
  src/code-templates/api-client/types.ts
  src/index.ts
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/store/Operation.ts
  src/internal/OpenApiTools/toTypeNode.ts
  src/internal/ResolveReference/index.ts
  src/typedef/CodeGenerator.ts
  src/typedef/Experimental.ts
  src/types.ts
  test/__tests__/__snapshots__/parameter-test.ts.snap
  test/__tests__/__snapshots__/spit-code-test.ts.snap
  test/__tests__/parameter-test.ts
  test/utils.ts
Due: prettier --write, eslint --fix

docs: update readme
  README.md
  docs/ja/README-ja.md
  example/package.json
  example/readme-sample/ast-code-template.ts
  example/readme-sample/generator-template.ts
  example/readme-sample/multi-code-template.ts
  example/readme-sample/split-typedef-and-api-client.ts
  example/readme-sample/text-base-code-template.ts
  example/readme-sample/typedef-and-api-client.ts
  example/readme-sample/typedef-only.ts
  example/readme-sample/use-extract-schema-params.ts
  scripts/testCodeGen.ts
  src/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/typedef/CodeGenerator.ts
Due: prettier --write, eslint --fix, sort-package-json

fix: Adjusting the parameters to be extracted
  src/code-templates/api-client/ApiClientArgument.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/api-client/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/store/Operation.ts
  src/typedef/CodeGenerator.ts
  src/typedef/Experimental.ts
  src/types.ts
  test/__tests__/__snapshots__/parameter-test.ts.snap
Due: prettier --write, eslint --fix

chore: update example code
  README.md
  docs/ja/README-ja.md
  example/client.ts
  example/codegen.ts
  example/readme-sample/ast-code-template.ts
  example/readme-sample/generator-template.ts
  example/readme-sample/text-base-code-template.ts
  example/readme-sample/use-extract-schema-params.ts
  scripts/testCodeGen.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/typedef/CodeGenerator.ts
Due: prettier --write, eslint --fix

docs: update readme (#37)
  README.md
  docs/ja/README-ja.md
  example/client.ts
  example/package.json
  example/readme-sample/ast-code-template.ts
  example/readme-sample/generator-template.ts
  example/readme-sample/multi-code-template.ts
  example/readme-sample/split-typedef-and-api-client.ts
  example/readme-sample/text-base-code-template.ts
  example/readme-sample/typedef-and-api-client.ts
  example/readme-sample/typedef-only.ts
  example/readme-sample/use-extract-schema-params.ts
  scripts/testCodeGen.ts
  src/code-templates/api-client/ApiClientArgument.ts
  src/code-templates/api-client/ApiClientClass/ApiClientInterface.ts
  src/code-templates/api-client/ApiClientClass/Method.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/CallRequest.ts
  src/code-templates/api-client/ApiClientClass/MethodBody/index.ts
  src/code-templates/api-client/index.ts
  src/index.ts
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/store/Operation.ts
  src/typedef/CodeGenerator.ts
  src/typedef/Experimental.ts
  src/types.ts
  test/__tests__/__snapshots__/parameter-test.ts.snap
Due: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

docs: fix
  README.md
  docs/ja/README-ja.md
Due: prettier --write

docs: fix (#39)
  README.md
  docs/ja/README-ja.md
Due: prettier --write

fix: bring back the allowOperationIds option
  src/index.ts
Due: prettier --write, eslint --fix

fix: bring back the allowOperationIds option (#40)
  src/index.ts
Due: prettier --write, eslint --fix

feat: changed so that options can be specified on a case-by-case basis
  src/index.ts
  src/internal/OpenApiTools/Parser.ts
Due: prettier --write, eslint --fix

feat: changed so that options can be specified on a case-by-case basis (#41)
  src/index.ts
  src/internal/OpenApiTools/Parser.ts
Due: prettier --write, eslint --fix

docs(readme): update
  README.md
  docs/ja/README-ja.md
Due: prettier --write

docs(readme): update (#42)
  README.md
  docs/ja/README-ja.md
Due: prettier --write

refactor: classified the store
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/RequestBodies.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  src/internal/OpenApiTools/components/Response.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/paths/index.ts
  src/internal/OpenApiTools/store/Store.ts
  src/internal/OpenApiTools/store/index.ts
  src/internal/OpenApiTools/store/structure/DataStructure.ts
  src/internal/OpenApiTools/store/structure/index.ts
Due: prettier --write, eslint --fix

refactor: classified the store (#44)
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/RequestBodies.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  src/internal/OpenApiTools/components/Response.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/paths/index.ts
  src/internal/OpenApiTools/store/Store.ts
  src/internal/OpenApiTools/store/index.ts
  src/internal/OpenApiTools/store/structure/DataStructure.ts
  src/internal/OpenApiTools/store/structure/index.ts
Due: prettier --write, eslint --fix

refactor: Naming the walker
  .prettierignore
  CHANGELOG.md
  docs/ja/README-ja.md
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Guard.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/Walker/Definition.ts
  src/internal/OpenApiTools/Walker/Operation.ts
  src/internal/OpenApiTools/Walker/State.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/OpenApiTools/Walker/index.ts
  src/internal/OpenApiTools/Walker/structure/DataStructure.ts
  src/internal/OpenApiTools/Walker/structure/InterfaceNode.ts
  src/internal/OpenApiTools/Walker/structure/NamespaceTree.ts
  src/internal/OpenApiTools/Walker/structure/TypeAliasNode.ts
  src/internal/OpenApiTools/Walker/structure/index.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/OpenApiTools/components/RequestBodies.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  src/internal/OpenApiTools/components/Response.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/paths/index.ts
Due: prettier --write, eslint --fix

refactor: Naming the walker (#45)
  .prettierignore
  CHANGELOG.md
  docs/ja/README-ja.md
  src/internal/OpenApiTools/Extractor.ts
  src/internal/OpenApiTools/Guard.ts
  src/internal/OpenApiTools/Parser.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/Walker/Definition.ts
  src/internal/OpenApiTools/Walker/Operation.ts
  src/internal/OpenApiTools/Walker/State.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/OpenApiTools/Walker/index.ts
  src/internal/OpenApiTools/Walker/structure/DataStructure.ts
  src/internal/OpenApiTools/Walker/structure/InterfaceNode.ts
  src/internal/OpenApiTools/Walker/structure/NamespaceTree.ts
  src/internal/OpenApiTools/Walker/structure/TypeAliasNode.ts
  src/internal/OpenApiTools/Walker/structure/index.ts
  src/internal/OpenApiTools/components/Headers.ts
  src/internal/OpenApiTools/components/Operation.ts
  src/internal/OpenApiTools/components/Parameter.ts
  src/internal/OpenApiTools/components/Parameters.ts
  src/internal/OpenApiTools/components/PathItem.ts
  src/internal/OpenApiTools/components/PathItems.ts
  src/internal/OpenApiTools/components/Reference.ts
  src/internal/OpenApiTools/components/RequestBodies.ts
  src/internal/OpenApiTools/components/RequestBody.ts
  src/internal/OpenApiTools/components/Response.ts
  src/internal/OpenApiTools/components/Responses.ts
  src/internal/OpenApiTools/components/Schema.ts
  src/internal/OpenApiTools/components/Schemas.ts
  src/internal/OpenApiTools/components/SecuritySchemas.ts
  src/internal/OpenApiTools/paths/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
