Repository Himenon/openapi-typescript-code-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json

Publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: update pnpm version
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm version
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/versionUp.yml
Due: prettier --write

ci: update node version
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): update all dependencies version
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore: update
  package.json
  pnpm-lock.yaml
  scripts/tools/cherry-pick.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  package.json
Due: prettier --write, sort-package-json

chore: update
  scripts/build.ts
  scripts/tools/cherry-pick.ts
  scripts/tools/copyPackageSet.ts
  scripts/tools/dualPackageSupport.ts
  scripts/tools/shell.ts
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.esm.json
Due: prettier --write, eslint --fix

chore: update
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, sort-package-json

chore: update
  package.json
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/ResolveReference/index.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  src/internal/TsGenerator/factory/Namespace.ts
Due: prettier --write, eslint --fix

chore: update
  src/internal/TsGenerator/traverse.ts
Due: prettier --write, eslint --fix

chore: update
  .gitignore
  .yarnrc
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

chore: update
  .eslintrc.cjs
  scripts/tools/shell.ts
Due: prettier --write, eslint --fix

chore: update
  README.md
  docs/ja/README-ja.md
  example/client.ts
  example/tsconfig.json
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
  src/code-templates/_shared/__tests__/utils.test.ts
  src/index.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/OpenApiTools/Walker/structure/DataStructure.ts
  src/internal/TsGenerator/factory/Namespace.ts
  src/internal/TsGenerator/factory/PropertySignature.ts
  src/meta.ts
Due: prettier --write, eslint --fix

chore: update
  .dependency-cruiser.cjs
  package.json
  scripts/writer/Class.ts
  scripts/writer/CurryingFunctional.ts
  scripts/writer/Functional.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/Walker/Store.ts
Due: prettier --write, eslint --fix

chore: update
  jest.config.cjs
  package.json
Due: prettier --write, sort-package-json

chore: update
  jest.config.cjs
  src/internal/FileSystem/index.ts
  src/internal/OpenApiTools/TypeNodeContext.ts
  src/internal/OpenApiTools/Walker/Store.ts
  src/internal/ResolveReference/index.ts
  src/internal/TsGenerator/index.ts
Due: prettier --write, eslint --fix

chore: update
  package.json
  scripts/tools/shell.ts
  scripts/watch.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  package.json
  scripts/testCodeGenWithClass.ts
  scripts/testCodeGenWithCurryingFunctional.ts
  scripts/testCodeGenWithFunctional.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  jest.config.cjs
  jest.snapshot.config.cjs
  package.json
Due: prettier --write, sort-package-json

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: equality
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
Due: prettier --write, eslint --fix

chore: update
  src/code-templates/_shared/MethodBody/__tests__/PathParameter-test.ts
Due: prettier --write, eslint --fix

docs: update readme
  README.md
  docs/ja/README-ja.md
  example/readme-sample/generator-template.ts
  example/readme-sample/split-typedef-and-api-client.ts
  example/readme-sample/typedef-and-api-client.ts
Due: prettier --write, eslint --fix

chore: update
  example/pnpm-lock.yaml
Due: prettier --write

chore: update api
  README.md
  docs/ja/README-ja.md
  example/readme-sample/ast-code-template.ts
  package.json
Due: prettier --write, eslint --fix, sort-package-json

refactor: example
  .eslintrc.cjs
  examples/apis/README.md
  examples/apis/client.ts
  examples/apis/codegen.ts
  examples/apis/package.json
  examples/apis/pnpm-lock.yaml
  examples/apis/sample-axios.ts
  examples/apis/sample-debug.ts
  examples/apis/sample-fetch.ts
  examples/apis/sample-superagent.ts
  examples/apis/spec/components/responses/Books.yml
  examples/apis/spec/components/schemas/Author.yml
  examples/apis/spec/components/schemas/Book.yml
  examples/apis/spec/openapi.yml
  examples/apis/tsconfig.json
  examples/apis/utils.ts
  examples/readme-sample/ast-code-template.ts
  examples/readme-sample/generator-template.ts
  examples/readme-sample/multi-code-template.ts
  examples/readme-sample/split-typedef-and-api-client.ts
  examples/readme-sample/text-base-code-template.ts
  examples/readme-sample/typedef-and-api-client.ts
  examples/readme-sample/typedef-only.ts
  examples/readme-sample/use-extract-schema-params.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: update
  examples/pure-js/README.md
  examples/pure-js/gen.js
  examples/pure-js/package.json
  examples/pure-js/pnpm-lock.yaml
  examples/pure-js/spec/openapi.yml
Due: prettier --write, sort-package-json

chore: tsup
  .gitignore
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: prettier --write, eslint --fix, sort-package-json

chore: tsup
  tsup.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
